
@media screen and (max-width: 1152px){
  body{
    margin:15px;
  }
}

@media screen and (max-width: 960px){
  body{
    font-size:15px;
    line-height:150%;
  }
  header.siteheader{
    box-shadow:none;
  }
  .front-blocks >.region >.block{
    font-size:15px;
  }
  .front-blocks >.region{
    padding:10px;
  }
  .content-wrap{
    padding-top:10px;
  }
  .content-sidebar-wrap #content{
    padding: 0;
  }
  .front .region-content article {
    margin: 5px;
    padding: 15px;
    width: 31.5%;
  }
  .contactwrap >div {
    float: left;
    padding: 15px 20px;
  }
  body aside, 
  body #content,
  body .content-sidebar-wrap{
    width: 100% !important;
    clear: both;
  }
}

@media screen and (max-width: 640px){
  body{
    font-size:14px;
    line-height:150%;
  }
  .node{
    margin:10px 0;
  }
  header.siteheader{
    box-shadow:none;
    padding:30px 0;
  }
  h1#site-title a{
    font-size:28px;
    margin:8px 0;
  }
  #site-description{
    font-size:16px;
    margin:0px 0;
  }
  .social-icons li{
    float: none;
    display: inline-block;
  }
  .social-icons li a{
    font-size:15px;
    height:30px;
    padding:5px 8px;
    width:30px;
  }
  .social-media-wrap{
    margin:20px 0 0 0;
  }
  #copyright {
    margin: 0 0 20px 0;
  }
  #copyright > div{
    margin:10px 0;
    width: 100%;
    clear: both;
  }
  article, .not-front .node-page, 
   .not-front.node-type-blog .node-blog, 
   .not-front.node-type-article .node-article{
    padding:0px;
  }
  #main-menu.staticmenu{
    background:#000;
    bottom:0;
    left:0;
    overflow:hidden;
    position:fixed;
    right:0;
    top:0;
    width:100%;
  }
  .staticmenu .menu-navigation-container{
    height:100%;
    margin-right:-18px;
    overflow-y:scroll;
  }
  #main-menu ul{
    display:none;
  }
  #main-menu li ul{
    border:0;
    position:static;
  }
  #main-menu li ul ul{
    border:0;
    margin:0 !important;
  }
  #main-menu ul, #main-menu li{
    float:none;
    width:100%;
  }
  #main-menu a{
    border-bottom:0;
    border-radius:0;
    color:#fff;
    margin:0;
    padding:15px 0;
    text-align:center;
    width:100%;
  }
  #main-menu li li a{
    background:#131313;
    border:0;
    padding:15px 0;
    text-align:center;
  }
  #main-menu li:hover > ul,
   #main-menu li li:hover > ul,
   #main-menu li li li:hover > ul{
    display:none;
  }
  .drop-down-toggle{
    display:block;
  }
  .menu_wrapper{
    margin:0;
  }
  #main-menu .nav-toggle{
    background:#18222B;
    background:url(../images/mobile-menu.png) 10px 10px #18222B no-repeat;
    color:white;
    display:inline-block;
    float:right;
    font-size:0;
    height:35px;
    margin:0;
    padding:3%;
    text-align:center;
    text-indent:-9999px;
    width:35px;
    margin: 2px 0 0 0;
  }
  #main-menu .nav-toggle.dropdownactive{
    background-position:11px -21px;
    position:absolute;
    right:0;
    top:0;
  }
  #main-menu ul.menu li{
    margin:0;
    width:100%;
  }
  #main-menu li.expanded >a,
  #main-menu li.expanded li.expanded >a 
  #main-menu li.expanded li.expanded li.expanded >a{
    background:#131313;
    background-image:none;
    padding-right:0;
  }
  #main-menu li li.expanded >a{
    background-image: none;
    padding-left: 30px;
  }
  .menu-wrap{
    background:none;
    border:0;
  }
  .front .region-content{
    margin: 0;
  }
  .front .region-content article,
  .frontblockwrap.whowewrap >.region,
  .contactwrap >div{
    margin:10px;
    width:100%;
    margin-left: 0;
    margin-right: 0;
  }
  .contactwrap >div{
    padding: 15px 20px;
    margin: 0;
  }
  .content-sidebar-wrap #content{
    padding:0;
  }
  #footer{
    margin-top:10px;
  }
  .frontblockwrap >.region >.block{
    margin:20px 0;
  }
  .not-front .content-wrap{
    padding: 15px;
  }
}

@media screen and (max-width: 440px){
}